.App {
  text-align: center;
}

body{
  background-image: url("https://images6.alphacoders.com/521/521144.jpg")
}

h1{
  color: cyan;
  text-shadow: 2px 3px 5px blue;
}

p{
 
  height: 120px;
  width: 200px;
  font-size: 18px;
  color: cyan;
  text-shadow: 1px 2px 2px blue;
}

.list{
  display: flex;
  justify-content: center;
  margin-left: 200px;
}

form{
  display: flex;
  justify-content: center;
  margin-left: -200px;
  padding-bottom: 4px;
}

form input{
  text-align: center;
  width: 25%;
  padding: 3px;
}
